<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/uikit-3.19.1/css/uikit-rtl.css" rel="stylesheet" />
    <link href="~/Content/uikit-3.19.1/css/uikit-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/uikit-3.19.1/css/uikit.css" rel="stylesheet" />
    <link href="~/Content/uikit-3.19.1/css/uikit.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="uk-navbar-container wms-navbar-layout">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home">
                        <img src="~/Images/LogoPo.png" alt="plastic_omnium" width="80" />
                    </a>

                    <ul class="uk-navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>

                </div>

            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()
        <hr />
        <footer class="wms-footer">
            <p>&copy; @DateTime.Now.Year - Visual WMS</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Content/uikit-3.19.1/js/uikit-icons.js"></script>
    <script src="~/Content/uikit-3.19.1/js/uikit-icons.min.js"></script>
    <script src="~/Content/uikit-3.19.1/js/uikit.js"></script>
    <script src="~/Content/uikit-3.19.1/js/uikit.min.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Content/Site.js"></script>
</body>
</html>
